$shadow_len: 2px;
$border_radius: 4px;

$red: #D6313D;
$green: #43A536;
$blue: #5E68E1;

$right_margin: 12px;
$bottom_margin: 36px;

#creatable_container{
	vertical-align: text-top;
	text-align: center;
	vertical-align: middle;
}
#creatable{
	width: 668px;
	right: 20px;
	background: #ffffff;
	padding: 76px;
	margin:20px;
	margin-left:152px;
	display: inline-block;
	cursor: default;
}

#trashcan{
	position: fixed;
	right: 32px;
	bottom: 32px;
}

//GENERIC CREATABLE ITEM CONTAINERS FOR VERTICAL ALIGN
.creatable_section_container{
	height: 144px;
	clear: both;
}

.creatable_section_outer{
	display: table;
	overflow: hidden;
	cursor: move;
	
	border-radius: $border_radius;
	box-shadow: $shadow_len $shadow_len $shadow_len #888888;
	background: #000000;
	margin-right: $right_margin;
	margin-bottom: $bottom_margin;
}
.creatable_section_middle{
	display: table-cell;
	vertical-align: middle;
	height: 100%;
	
	border-width: 8px;
	border-style: solid;
	border-color: #000000;
	background: #ffffff;
}
.creatable_section_inner{
	text-align: center;
	cursor: text;
	font-weight: bold;
}

.creatable_item_outer{
	display: table;
	overflow: hidden;
	cursor: move;
	
	border-radius: $border_radius;
	box-shadow: $shadow_len $shadow_len $shadow_len #888888;
	background: #000000;
	width: 112px;
	height: 136px;
	
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 16px;
	line-height: 16px;
	float: left;
	margin-right: $right_margin;
	margin-bottom: $bottom_margin;
}
.createable_item_middle{
	display: table-cell;
	vertical-align: middle;
	height: 100%;
	
	border-width: 4px;
	border-style: solid;
	border-color: #000000;
	text-align: center;
}
.creatable_item_pict_inner{
	width: 100;
	height: 100;
	margin: 6px;
	margin-bottom: 3px;
	background: #ffffff;
}
.creatable_item_text_inner{
	text-align:center;
	padding: 3px;
	padding-top: 0px;
	cursor: text;
	min-height: 32px;
	font-weight: bold;
}

//CREATABLE DEFAULT COLORS
.outer_color_red{ background: $red; }
.middle_color_red{ border-color: $red; }

.outer_color_green{ background: $green; }
.middle_color_green{ border-color: $green; }

.outer_color_blue{ background: $blue; }
.middle_color_blue{ border-color: $blue; }

//SPECIFIC CREATABLE ITEMS
.big_section_header{
	width: 650px;
	height: 232px;
	
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 48px;
	line-height: 48px;
}
.small_section_header{
	width: 144px;
	height: 144px;
	
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 30px;
	line-height: 30px;
	float: left;
}