html, body {
  padding: 0px;
  margin: 0px;
  background: url(images/bg.jpg);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

table, th, td {
  border-collapse: collapse;
  text-align: center;
  vertical-align: middle;
  font-family: arial;
  font-size: 12px;
  background: white;
  color: #222222;
}

table {
  width: 100%;
  height: 100%;
}

#sidebar {
  width: 132px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
}

.col_button {
  padding: 15px;
  width: 96px;
  height: 32px;
  cursor: pointer;
}

.col_button:hover {
  background: #222222;
  color: white;
}

.selected {
  background: #222222;
  color: white;
}

.login_button {
  padding: 0px;
  padding-left: 15px;
  padding-right: 15px;
}

.wide_button {
  width: 96px;
}

.vertical_divider {
  width: 1px;
  height: 60px;
  padding: 0px;
}

.vd {
  width: 100%;
  height: 50%;
  background: #dddddd;
}

.horizontal_divider {
  height: 1px;
  padding: 0px;
}

.hd {
  margin: 0 auto;
  width: 50%;
  height: 1px;
  background: #dddddd;
}

.filler {
  background: #dddddd;
}
