$main_color: #FFFFFF;
$filler_color: #DDDDDD;
$font_color: #222222;
$button_width: 96px;
$button_height: 32px;
$padding: 15px;
$small_padding: 0px;

html,body{
	padding: 0px;
	margin: 0px;
	background: url(images/bg.jpg);

	-webkit-touch-callout: none;
    -webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
table,th,td{
	border-collapse: collapse;
	text-align: center;
	vertical-align: middle;
	font-family: arial;
	font-size: 12px;
	
	background: $main_color;
	color: $font_color;
}
table{
	width: 100%;
	height: 100%;
}
#sidebar{
	width:132px;
	position:fixed;
	top:0px;
	left:0px;
	z-index: 100;
}


.col_button{ 
	padding: 15px;
	width: $button_width; 
	height: $button_height;
	cursor: pointer;
}
.col_button:hover{
	background: $font_color;
	color: $main_color;
}
.selected{
	background: $font_color;
	color: $main_color;
}
.login_button{
	padding: $small_padding;
	padding-left: $padding;
	padding-right: $padding;
}
.wide_button{ 
	width: 96px; 
}
.vertical_divider{
	width: 1px;
	height: 60px;
	padding: 0px;
}
.vd{
	width: 100%;
	height: 50%;
	background: $filler_color;
}
.horizontal_divider{
	height: 1px;
	padding: 0px;
}
.hd{
	margin: 0 auto;
	width: 50%;
	height: 1px;
	background: $filler_color;
}
.filler{
	background: $filler_color;
}